﻿/*
    Known overrides for DxDataGrid
*/


/*
  RowIndex */
.dx-row-index {
    background-color: $primary !important;
    color: #fff;
}

.dx-row-index::after {
    margin-left: auto;
    margin-right: auto;
    content: attr(data-index);
}

.dx-row-index:after {
    margin-left: auto;
    margin-right: auto;
    content: attr(data-index);
}

/*Set a celltext bold */
.dx-cell-highlight {
    font-weight: bold;
}


/*
  Grid row hover*/
.dxbs-data-row:hover {
    cursor: pointer;
    background: $primary;
    color: #fff;
}

/*
   Grid row hover, includes first td if it has index-row */
.dxbs-gridview tr:hover .dx-row-index, .table-active {
    cursor: pointer;
    background: $primary !important;
    color: #fff !important;
}

.dxbs-gridview thead{
    background: #eee; /*tmp*/
}

/*
Thead input textbox height */
.dxbs-input-group .form-control {
    margin: 0;
    padding: 0;
    min-height: 20px;
}

/*
 Border color in table*/
.dxbs-gridview thead,
.dxbs-gridview tbody,
.dxbs-gridview tfoot,
.dxbs-gridview tr,
.dxbs-gridview td,
.dxbs-gridview th {
    border-color: $border;
}

.dxbs-grid-header-container{
    border-top: none;
}

.dxbs-table thead, .dxbs-group-panel-container, .btn-toolbar {
    background: rgba(0,0,0,.03);
}

.dxbs-group-panel-container {
    border-bottom: 1px solid #ccc !important; /*tmp*/
}


/*
  Height in grid cells*/
.dxbs-data-row td {
    line-height: 12px !important;
}

.dxbs-data-row:hover {
    background: $primary;
    color: #fff; /*tmp*/
}
