﻿/*
    Known overrides for DxToolbar
*/

.dxbs-toolbar {
    background: none;
    padding: 0px;
    border-top: 1px solid $border !important;
    border-left: 1px solid $border !important;
    border-right: 1px solid $border !important;
}

.dxbs-toolbar-btn .fas{
    font-size: 11pt;
    color: $primary;
}

.dxbs-toolbar-btn:hover {
   background: #fff;
}

/*Groups in toolbar*/
.dxbs-ta-title{
    margin: 0 !important;
    padding: 0 !important;
}

/*Toolbar properties groups*/
div.groups {
    margin: 0;
    padding: 4px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 9px;
}

/*
    DxToolbar TitleTemplate */
div.groups > section {
    display: grid;
    text-align: left;
}

div.groups > section textarea{
    width: 100px;
}

div.groups section label:nth-child(odd) {
    font-weight: bold;
}

div.groups section:nth-child(1) {
    grid-template-columns: 75px 50px;
}

div.groups section:nth-child(2) {
    grid-template-columns: 75px 50px;
}

div.groups section:nth-child(3) {
    grid-template-columns: 75px 50px;
}

div.groups section:nth-child(4) {
    grid-template-columns: 75px 50px;
}

div.groups section:nth-child(5) {
    grid-template-columns: 75px 50px;
}

div.groups section:nth-child(6) {
    grid-template-columns: 75px 50px;
}

div.groups section:nth-child(7) {
    grid-template-columns: 75px 50px;
}