﻿
/*Header*/
header {
    border-bottom: 1px solid $border;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.logo {
    width: 16px;
    height: 16px;
    background-image: url(/img/logo.svg);
    vertical-align: middle;
    margin-top: -3px !important;
}

/*Header dropdowns*/
section.dropdowns {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;  
}


section .dropdown {
    border-left: 1px solid $border;
}

/*Culture images*/
section.dropdowns .dropdown-item img, .dropdown-toggle img {
    width: 20px;
}

.brand{
    /*Same width as menu*/
    width: 196px;
}


.top-panel {
    display: flex;
}

.top-panel .search {
    margin-left: 100px;
    padding: 0;
    margin: auto;
    width: 300px;
}

/*Brand (company title)*/
.main-title{
    line-height: 16px;
    font-weight: bold;
    font-size: larger;
}