﻿html, body {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
}

/*Page wrapper*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow:hidden;
}

.container-fluid{
    margin-top: 0.75rem;
}

/*Sidebar menu*/
aside {
    border-right: 1px solid $border;
    min-width: 200px;
    max-width: 200px;
    /*bounce*/
    -webkit-transition: all 300ms cubic-bezier(0.32,1.25,0.375,1.15);
    transition: all 300ms cubic-bezier(0.32,1.25,0.375,1.15);
    /*    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/
}

/*Hide sidebar menu*/
aside.active {
    margin-left: -200px;
}

/*
    Hide menu away if screen is small than 768px, 
    optional or may be set by a variable in user settings. */
@media (max-width: 768px) {
    #sidenav {
        position: relative;
        z-index: 100;
        margin-left: -200px;
    }

    #sidenav.active {
        margin-left: 0;
    }
}

/* Content area*/
main {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    background: var(--bs-gray-200);
    overflow: hidden;
    background: rgba(0,0,0,.03);
}

/*Panel below header*/
.infopanel{
    background: $body-bg;
    border-bottom: 1px solid $border;
    padding: 4px;
}

footer {
    background: $body-bg;
    border-top: 1px solid $border;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    height: 18px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 14px;
    font-size: smaller;
}

/*Bootstrap 5.0 Hack to support 4*/
.table > :not(:first-child) {
    border-top: 0px solid transparent !important;
}

.card{
    margin-bottom: 0.75rem;
}

.card-body{
    padding: 10px;
}

.card-body label{
    font-weight: bold;
}

.card-header {
    font-weight: bold;
}