﻿
nav ul li {
    font-size: $font-size-base;
    text-decoration: none;
    line-height: 20px;

    :hover {
        background: $primary;
    }

    a {
        display: block;
        text-decoration: none;
    }
    :hover{
        color: #fff;
    }

    i {
        margin-right: 10px;
        padding-left: 10px;
        width: 22px;
    }
}

nav h6{
    color: $primary;
    text-transform: uppercase;
    text-indent: 10px;
    font-weight: bold;
    margin-top: 15px;
}