﻿/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    cursor: move
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    cursor: move
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
