﻿@inject FakeService FakeService

@if (CurrentUser != null)
{
    <Card Title="Form with client validation">
        <form class="container form-validation">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <InputTextValidation Name="@nameof(CurrentUser.Name)" Value="@CurrentUser.Name" />
                </div>
                <div class="col-sm-6 mb-3">
                    <InputTextValidation Name="@nameof(CurrentUser.Lastname)" Value="@CurrentUser.Lastname" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <select class="form-select" @bind="CurrentUser.Profession" required>
                        <option value="">Select Profession</option>
                        @foreach (var profession in Professions)
                        {
                            <option value="@profession">@profession</option>
                        }
                    </select>
                </div>
                <div class="col-sm-6 mb-3">
             
                </div>
            </div>

        </form>
    </Card>

    @code{

    [Parameter]
        public User CurrentUser { get; set; }
        private List<string> Professions = FakeService.ProfessionTypes;

    }
}