﻿@page "/"
@namespace W360.Shell.Pages
@using W360.Shell
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SHELL _</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png /">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png" />
    <link rel="mask-icon" href="~/icon/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="manifest" href="~/icon/site.webmanifest" />
    <link rel="stylesheet" href="~/css/app.theme.min.css.gz" id="theme-id" />
    <link rel="stylesheet" href="~/_content/DevExpress.Blazor/dx-blazor.css" />
    <base href="~/" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">An error has occurred. This application may no longer respond until reloaded.</environment>
        <environment include="Development">An unhandled exception has occurred. See browser dev tools for details.</environment>
        <a href="" class="reload">Reload</a><a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js" autostart="true"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/app.min.js.gz"></script>
</body>
</html>
