﻿@page "/"
@using System.Text.Json
@inject FakeService FakeService
@inject IJSRuntime js

<PanelSplitter>
    <Left>
      <Card Title="Orders">
            <Spinner Visible="@Visible" />
            <DxDataGrid @ref="Grid"
                Data="@Data"
                T="User"
                ShowGroupPanel="true" 
                ShowFilterRow="true"
                PageSize="30" 
                RowClick="OnViewGridRowClick"
                DataNavigationMode="DataGridNavigationMode.Paging"
                HtmlDataCellDecoration="@OnHtmlDataCellDecoration">
                <Columns>
                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain" ItemClick="OnItemClick">
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" Name="Refrech" BeginGroup="true" IconCssClass="fas fa-sync-alt" />
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" Name="Search" IconCssClass="fas fa-search" />
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" Name="Add"  IconCssClass="fas fa-plus" BeginGroup="true" />
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" Name="Save" IconCssClass="fas fa-save"/>
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" Name="Delete" IconCssClass="fas fa-trash" />
                        <DxDataGridColumnChooserToolbarItem CssClass="btn-sm" BeginGroup="true" Text="ColumnChooser" Alignment="ToolbarItemAlignment.Right" />
                    </DxToolbar>
                    <DxToolbar>
                        <TitleTemplate>
                            <PropertiesPanel></PropertiesPanel>
                        </TitleTemplate>
                    </DxToolbar>
                    <DxDataGridColumn Field="RowIndex" Caption="#" Width="42px" />
                    <DxDataGridColumn Field="Id" Width="52px" />
                    <DxDataGridColumn Field="Name" Width="100px" />
                    <DxDataGridColumn Field="Lastname" Width="100px" />
                    <DxDataGridColumn Field="Profession" />
                </Columns>
            </DxDataGrid>
        </Card>
    </Left>
    <Right>
        <Card Title="Overview">
            Details in overview
            <br /><br />
            Test exception<br />
            <a onclick="functionNotDefined()" href="#">Test the console shell</a>
        </Card>
        <View2 CurrentUser="@SelectedUser" />
    </Right>
</PanelSplitter>




@code {

    private User SelectedUser { get; set; }

    public bool Visible { get; set; } = true;

    IEnumerable<User> Data { get; set; }

    private DxDataGrid<User> Grid { get; set; }

    protected override void OnInitialized() {
        Visible = true;
        StateHasChanged(); //Invoke loader
        Data = FakeService.GetUsers().ToList();
        Visible = false;
        StateHasChanged(); //Revoke loader
    }

    public string ClickedItem { get; set; } = "";
    async void OnItemClick(ToolbarItemClickEventArgs e) {
       
        switch (e.ItemName)
        {
            case "Save":
                var valid = await js.InvokeAsync<string>("formValid");
                var s = JsonSerializer.Serialize(valid);
                await  js.InvokeVoidAsync("alert", $"Form validated: form is {s}");
               break;
        }
    }

    protected async void OnViewGridRowClick(DataGridRowClickEventArgs<User> args)
    {
        Visible = true;
        StateHasChanged(); //Invoke loader
        SelectedUser = (User)Data.First(u=> u.Id == args.DataItem.Id);
        await FakeLoading();
        Visible = false;
        StateHasChanged(); //Unload loader
    }

    protected void OnHtmlDataCellDecoration(DataGridHtmlDataCellDecorationEventArgs<User> cell)
    {
        if (cell.FieldName == "RowIndex")
            cell.AddRowIndex(Grid);

        if (cell.FieldName == "Name")
            cell.SetCellTextBold("Name");
    }

    private async Task FakeLoading()
    {
        await Task.Run(() => Task.Delay(300));
    }
}
