﻿@page "/simple"


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <Card Title="col-md-4">
                One of three.
            </Card>
        </div>
        <div class="col-md-4">
            <Card Title="col-md-4">
                Two of three.
            </Card>
        </div>
        <div class="col-md-4">
            <Card Title="col-md-4">
                Four of three.
            </Card>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <Card Title="col-6">
                Non break on mobile
            </Card>
        </div>
        <div class="col-6">
            <Card Title="col-6">
                Non break on mobile
            </Card>
        </div>
    </div>
</div>
<div class="container-fluid">
    <Card Title="Expanded columns (Card in Card)">

        <div class="row">
            <div class="col">
                <Card Title="1 of three">
                    1 of three
                </Card>
            </div>
            <div class="col-6">
                <Card Title="2 of three, wider">
                    2 of three, wider
                </Card>
            </div>
            <div class="col">
                <Card Title="3 of three">
                    3 of 3
                </Card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <Card Title="1 of three">
                    1 of three
                </Card>
            </div>
            <div class="col-5">
                <Card Title="2 of three, wider">
                    2 of three, wider
                </Card>
            </div>
            <div class="col">
                <Card Title="3 of three">
                    3 of three
                </Card>
            </div>
        </div>

    </Card>
</div>
    
