﻿<div class="card">
    <div class="card-header">
    @Title
    </div>
    <div class="card-body">
        @ChildContent
    </div>
</div>

@code{
    [Parameter] public string Title{ get; set; }
    [Parameter] public RenderFragment ChildContent{ get; set; }
}