﻿
<label for="vd1">@Name</label>
<input type="text" class="form-control" id="vd1" placeholder="@Name" value="@Value" required />
<div class="invalid-feedback">@Name is not valid.</div>

@code{ 
    //Purely named component.
    [Parameter] public string Name { get; set; }
    [Parameter] public string Value { get; set; }
}