﻿@inherits LayoutComponentBase

<Header />
<section class="wrapper">
    <aside id="sidenav">
        <Nav />
    </aside>
    <main id="componentmain">
       <BreadCrumb />
        @Body
    </main>
   <ThemePanel />
</section>
 <Shell />
<Footer />
