﻿<nav class="d-flex flex-column flex-shrink-0 p-3">
    <h6>Menuheader 1</h6>
    <ul class="nav flex-column mb-auto">
        <li><a href="/simple"><i class="fas fa-camera fa-1x"></i><span>Simple page</span></a></li>
        <li><a href="/"><i class="fas fa-satellite fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-star-half-alt fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-bacteria fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-check-circle fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-check-square fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-calendar fa-1x"></i><span>Link item click</span></a></li>
    </ul>

    <h6>Menuheader 2</h6>
    <ul class="nav flex-column mb-auto">
        <li><a href="/"><i class="fas fa-camera fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-satellite fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-star-half-alt fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-bacteria fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-check-circle fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-check-square fa-1x"></i><span>Link item click</span></a></li>
        <li><a href="/"><i class="fas fa-calendar fa-1x"></i><span>Link item click</span></a></li>
    </ul>
</nav>