﻿<main data-flex-splitter-horizontal pane>
    <section data-content pane style="position: relative;width: 50%">
        @Left
    </section>
    <div role="separator"></div>
    <section pane data-content>
        @Right
    </section>
</main>

@code{
    [Parameter] public RenderFragment Left { get; set; }
    [Parameter] public RenderFragment Right { get; set; }
}