﻿@inject IJSRuntime JsInterop
@inject ExceptionNotificationService exceptionNotificationService


<section class="shell" id="shell">
    <div class="errors">An error occurred: 
        <pre id="error-log">@error</pre>
    </div>
</section>


@code{

    [Parameter]
    public string error{ get; set; }

    protected override Task OnInitializedAsync()
    {
        this.exceptionNotificationService.OnException += HandleExceptions;
        
        return base.OnInitializedAsync();
    }

    private void HandleExceptions(object sender, string s)
    {
        error = s;
    }

    public void Dispose()
    {
        this.exceptionNotificationService.OnException -= HandleExceptions;
    }
}
