﻿ <aside class="themepanel" id="themepanel">
    <b>Themes</b>
    <ul class="themes-container" id="theme-panel">
        <li class="theme-item" data-theme="shell" onclick="setTheme('wl360')"><div class="theme-box" style="background: #317d84">&nbsp;</div><div>360 theme</div></li>
        <li class="theme-item" data-theme="developer" onclick="setTheme('developer')"><div class="theme-box" style="background: #262525">&nbsp;</div><div>Developer theme</div></li>
        <li class="theme-item" data-theme="shell" onclick="setTheme('shell')"><div class="theme-box" style="background: #ff6a00">&nbsp;</div><div>Shell theme</div></li>
    </ul>
 </aside>